

.c-header {
	width: 100%;
	height: 56px;
	background-color: #2d3e50;
	font-family: sans-serif;
	text-align: center;
}

.c-header > .c-header-logo {
	display: inline-block;
	color: #fefefe;
	font-size: 32px;
	line-height: 56px;
	text-align: center;
}

.c-header > .c-header-logo > p {
	display: inline;
	margin: 0;
	padding: 0;
	float: right;
	font-size: 24px;
	letter-spacing: -2px;
}

.c-header > .c-header-logo > p:first-of-type {
	color: #fbbd15;
}
